.card {
    width: 295px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid;
    border-image: linear-gradient(#ff512f,#A37802,#FFC31F) 10;
    animation: rotate 3s ease-in infinite;
}

@keyframes rotate {
    50%{
        border-image: linear-gradient(360deg, #ff512f,#A37802,#FFC31F) 10;
    }
}